.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main_color {
  color: #63b344;
}
.App-link {
  color: #63b344;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.searchBar{
  background-color: #63b344;
}
.alphabetStyle{

  color: rgb(0, 0, 0);
  padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 15px;
    text-align: center;
    border-right: 1px solid #63b344;
}

.cardRoot{
  border: 3px solid transparent;
}
.cardRoot:hover{
  border: 3px solid #63b344;
  background-color: rgb(241, 241, 241);
}
.inputStyle{
  min-width: 200px;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  margin: 10px;

}
.location{
  position: absolute;
    margin-top: -50px;
    background-color:#000000;
    color: #fff;
    padding: 10px;
    border-radius: 0 15px 15px 0;
}
.listStyle{
  width: 100%;
  max-width: 800px;
}
.listItemStyle{
  background-color:#f1f1f17a;
  border-bottom: 1px solid #ccc;
}
.pathStyle{
  padding: 10px;
  background-color:#f1f1f17a ;
}
.subPath{
  font-weight: bold;
  color:  #63b344;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
